*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('imagesclonetrello/orangebackground.jpg'); /* Path to your image */
    background-size: cover; /* Scale image to cover the entire screen */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center center; /* Center the image */
    height: 100vh; /* Full viewport height */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    background-color: rgba(215, 92, 26, 0.728);
    align-items: center;
    max-height: 10vh;
}



.boards-button{
    display: inline-flex;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    height: 4vh;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    
}

.boards-button img {
    width: 100%; /* Specify the desired width */
    min-width: 25px;
    height: 3vh;
    padding: 5px;
}


.userprofile-button{
    display: inline-flex;
    gap: 10px;
    padding: 0px;
    border-radius: 5px;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    
}

.userprofile-button img {
   /* Specify the desired width */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px 0px 0px 5px;
}


.search{    
    width: 250px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: right;
    align-items: center;
    padding: 5px;
    margin: 0;
    height: 4vh;
}

.search img{
    padding: 0px 10px 0px 10px;
    width: 10%;
    align-items: center;
    text-align: center;
}

.trello-logo {
    text-align: center;
}

.left {
    display: flex;
    gap: 10px;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.middle {
    display: flex;
    gap: 10px;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.right{
    display: flex;
    gap: 10px;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.subheader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    align-items: center;
    max-height: 10vh;
}

.subheader-left {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: px;
    margin: 10px;
    align-items: center;
}
.subheader-right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: px;
    align-items: center;
}

.cie-overview {
    border: 10px;
    border-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.cie-overview img{
    height: 5vh;
}

h1{ 
    color: white;
    font-weight: bold;
}
h2{
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    padding: 5px;
}

h3{
    color: rgb(48, 48, 48);
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    padding: 5px;
}

h4{
    color: #959597;
    padding: 5px;
}

h5 {
    color: white;
    margin: 0;
    font-size: 15px;
    padding: 0px;
    display: inline;
}

p{
    font-size: large;
    padding: 5px;
}

.shortcuts{
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;

}

.shortcuts img {
    min-width: 25px;
    height: 3vh;
    padding: 5px;
}

.boards-scroll {
    display: flex;
    overflow: auto;
    gap: 10px;
    max-width: 99%;
    

}

.boards{
    grid-template-columns: 2;
}

.board{
    display: grid;
    gap: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: #E9E9EB;
    padding: 10px;
    margin: 10px;
    max-height: 75vh;
}

.scroll{
   display: grid;
    overflow: auto;
   gap: 10px;
   max-height: 64vh;
}

.board-title {
    display: flex;
    width: 100%;
}
.board-subheader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 99%;
}

.kebab-menu img{
    min-width: 25px;
    height: 3vh;
    padding: 5px;
}

.board-task {
    display: grid;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 8px;
    gap: 8px;
    box-sizing: border-box;
}

.task-color-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
}

.color-bubble {
    border-radius: 10px;
    height: 10px;;
}

.darkgreen{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.blue{
    background-color: blue;
}
.lightblue{
    background-color: lightblue;
}
.yellowgreen{
    background-color: yellowgreen;
}
.pink{
    background-color: pink ;
}
.grey{
    background-color: grey;
}

.task-title {
    width: 100%;
    box-sizing: border-box;
}

.task-tags {
    margin-right: -10px;
}

.task-metadata{
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
}
.task-metadata img{
    width: 20px;
    height: 20px;

}

.subject {
    display: flex;
    box-sizing: border-box;
}

.task-duedate {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}


.task-comment{
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.task-attached{
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.task-completion{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.task-photo {
    display: flex;
    box-sizing: border-box;
    gap: 5px;
    justify-content: right;
    margin-right: 10px;
}

.task-photo img {
    width: 35px;
    height:35px;

}

.addcard{}